*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 10px;
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgb(255, 255, 255);
    border-radius: 70px;
}
body{
    background: linear-gradient(90deg,#ff0000, #3700ff, #8400ff,#006eff);
    background-size: 500%;
    animation: BgGradient 60s ease infinite;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78f34', endColorstr='#cf5d9a', GradientType=1 );
}
@keyframes BgGradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


img{
    max-width: 100%;
}

header{
    width: 100%;
    height: 1000px;
    margin: auto 0 5px 0;
    background-image: url(../IMAGESCERO/CapacitacionCorporativaeInstitucional.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    animation: movimiento 7s infinite linear alternate;  

    justify-content: center;
    align-self: center;
    display: flex;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    
}
@keyframes movimiento{
    from{
        background-position: 5px;
    }to{
        background-position: -5px;
    }
}


.content3t{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #00000067;
}
 
.sometext1 {
    max-width: 100%;
    width: 100%;
    height: 100%;
	font-size: 1.5rem;
    color: white;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1v{
    margin: 20px;
    font-size: 80px;
    display: flex;
    text-align: center;
	background-color: red;
    
}
.h1v:before {
	content: '';
    animation: changingTxt1 15s linear infinite;
    
}

@keyframes changingTxt1 {
	0% {
        content: 'COMANDO ESPECIAL DE REACCIÓN Y OPERACIONES';
        color: rgb(255, 255, 255);
        
	}
	20% {
        content: 'COMANDO ESPECIAL DE REACCIÓN Y OPERACIONES';
        color: rgb(29, 29, 29);
	}
	40% {
        content: 'CERO MÉXICO';
        color: rgb(255, 255, 255);
	}
	60% {
        content: 'CERO MÉXICO';
        color: rgb(29, 29, 29);
	}
	80% {
        content: 'PROTECCIÓN EJECUTIVA';
        color: rgb(255, 255, 255);
	}
	90% {
        content: 'PROTECCIÓN EJECUTIVA';
        color: rgb(29, 29, 29);
    }
    100% {
        content: 'COMANDO ESPECIAL DE REACCIÓN Y OPERACIONES';
        color: rgb(255, 255, 255);
	}
}

@media (max-width: 800px){
    header{
        height: 500px;
	    background-image: url(../IMAGESCERO/ad502dd5-6b12-41cd-b5be-6c206cae944d.jpeg);
	    animation: none;
    }
   
    .content3t{
        background-color: rgba(0, 0, 0, 0);
    }
    .sometext1{
        height: 100%;
        align-items: flex-start;
    }
    
    .h1v{
        height: 90px;   
        font-size: 30px;
        margin-top: 120px;
    }
    
    
}


/*TEXTO ANIMADO*/
.content3{
    width: 90%;
    height: 130px;
    margin: 50px 20px;
}
 
.sometext {
    max-width: 100%;
    width: 700px;
    margin: 20px auto;
	font-size: 1.5rem;
    color: white;
    text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
    border-radius: 50px;
    
}

@media (max-width: 800px) {
    .sometext {
        font-size: 1rem;
	    opacity:1;
    }
}
.text:before {
	content: '';
    animation: changingTxt 15s linear infinite;
    
}

@keyframes changingTxt {
	0% {
        content: 'CONSULTORES EN SEGURIDAD INTEGRAL';
        color: rgb(255, 255, 255);
        
	}
	20% {
        content: ' PROTECCIÓN EJECUTIVA';
        color: rgb(29, 29, 29);
	}
	40% {
        content: 'CLOSE PROTECTION';
        color: rgb(255, 255, 255);
	}
	60% {
        content: 'COORDINACIÓN Y SUPERVISIÓN OPERATIVA';
        color: rgb(29, 29, 29);
	}
	80% {
        content: 'CERO MÉXICO';
        color: rgb(255, 255, 255);
	}
	90% {
        content: 'CERO MÉXICO';
        color: rgb(29, 29, 29);
    }
    100% {
        content: 'CONSULTORES EN SEGURIDAD INTEGRAL';
        color: rgb(255, 255, 255);
	}
}




/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    margin-top: 40px;
    background: linear-gradient(90deg, #388585 20%, #416170 60%,rgb(27, 55, 134) 100%);
    box-shadow: 0px 15px 25px rgb(255, 255, 255); 
    
}
.container-footer p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    
}
.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}


.container-footer footer .logo-footer{
    width: 100%;
    display: flex;
    justify-content: center;

}

.container-footer footer .logo-footer .logosfootercero{
    width: 90px;
    height: 90px;
    margin: auto 25px;
    display: flex;
}
.container-footer footer .logo-footer .logosfootercero img{
    width: 100%;
}

.container-footer footer .logo-footer .logosfootersiio{
    width: 90px;
    height: 90px;
    margin: auto 25px;
    display: flex;
}
.container-footer footer .logo-footer .logosfootersiio img{
    width: 100%;
}


.container-footer footer .redes-footer{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.container-footer footer hr{
    width: 90%;
    margin: 20px auto;
    height: 4px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #4c00ff,#ff0000);
    
}

.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #000000;
    font-weight: 500;
}
.container-footer .derechos{
    text-align: center;
    margin-top: 40px;
    color: rgba(245, 222, 179, 0.507);
    font-size: 15px;
}


.redes-foter a{
    color: #ff0000;
    font-size: 18px;
    transition: color 300ms;
}

/*Footer - REDES*/

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    color: #233305cc;
    background: #efefef;
    margin: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all 500ms;
}

footer .redes-footer .fa-facebook-f:hover{
    color: #fff;
    background: #0073f7;
    transition: all 500ms;
}

footer .redes-footer .fa-envelope:hover{
    color: #fff;
    background: #DE4C34;
    transition: all 500ms;
}

footer .redes-footer .fa-whatsapp:hover{
    color: #fff;
    background: #3cff00;
    transition: all 500ms;
}


