/*--===== GLOBAL =====--*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    padding:0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body{
    overflow: hidden; 
}

/*comtent*/
.header{   
  width: 100%;
  height: 100vh;  
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*--===== GLOBAL =====--*/
  /*--===== VIDEO and Animation =====--*/
video{
  width: 100%;
position: absolute;
}

  
  



