/*menu*/
*{
    box-sizing: border-box;
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    text-decoration: none;
}



.nav{
    float: left;
    width: 100%;
    transition: .3s ease all;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 11;
    
}

.nav .wrap{
    width: 95%;
    margin: 5px auto;
    transition: 0.4s ease all;
    background: rgba(0, 0, 0, 0.822);
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    width: 150px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav a{
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease all;
    display: flex;
}

nav a:hover{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.main{
    padding: 80px 60px;
    background: white;
}

body.nav_fixed .nav{
    top: 0;
    position: fixed;
}

body.nav_fixed .nav .wrap{
    left: 0;
}


.btn-menu{
    width: 60px;
    height: 60px;
    top: 10px;
    right: 10px;
    padding: 20px;
    text-align:center;
    color: rgb(255, 255, 255);
    position: fixed;
    background: #000000d7;
    border-radius: 50%;
    cursor: pointer;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translateX(100px);
    z-index: 11;
}

.btn-menu:hover{
    transform: scale(1.2);
    background: #ffffff;
    color: black;
}


/*MENU RESPONSIVE*/
@media screen and (max-width: 1500px){
    .btn-menu{
        transform: translateX(0px);
    }
    
    
    .nav{
        width: 70%;
        position: fixed;
        top: 0;
        height: 100vh;
        transform: translateX(-100%);
        background: rgba(17, 17, 17, 0.822);

    }
    
    
    .nav .wrap{
        left: 0;
        background-color: transparent;
    }
    
    nav{
        width: 100%;
        position: absolute;
        top: 60px;
    }
    
    nav li{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav a{
        width: 100%;
        display: block;
        padding: 20px;
        margin: 0;
        color: #ffffff;
    }
    
    .nav-toggle{
        transition: all 300ms cubic-bezier(1,0,0,1);
        transform: translateX(0%);
    }
    
    
    .main{
    background: white;
    padding: 20px 60px;
}
    
    
}


@media screen and (max-width: 800px){
    .btn-menu{
        transform: translateX(0px);
    }
    
    
    .nav{
        width: 90%;
        position: fixed;
        top: 0;
        height: 100vh;
        transform: translateX(-100%);
        background: rgba(0, 0, 0, 0.911);

    }
    
    
    .nav .wrap{
        left: 0;

    }
    nav{
        width: 100%;
        position: absolute;
        top: 150px;
        height: 20px;
        
    }
    
    nav li{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
  
    nav a{
        width: 100%;
        display: block;
        padding: 20px;
        margin: 0;
        color: #ffffff;
    }
    
    .nav-toggle{
        transition: all 300ms cubic-bezier(1,0,0,1);
        transform: translateX(0%);
    }
    
    
    .main{
    background: white;
    padding: 20px 60px;
}
    
    
}

/*images*/
.img1C{
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 100%;
}
.img2S{
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 100%;

}


.imgcero{
    height: 100%;
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100%;
    background-position: center;
    animation: imgcero 15s infinite;
    animation-direction: alternate;
}
@keyframes imgcero{
    0%, 30% {
        background-image: url(../IMAGESCERO/CERO\ ANIMATION1.png);
        opacity: 1;
        
    }
    31%, 34% {
        opacity: 0.9;
        
    }
    35%, 65% {
        background-image: url(../IMAGESCERO/CERO\ ANIMATION2.png);
        opacity: 1;
        
    }
    66%, 69% {
        opacity: 0.9;
    }
    70%, 100% {
        background-image: url(../IMAGESCERO/CEROOFICIAL.png);
        opacity: 1;
        
    }
}
.imgsiio{
    height: 100%;
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-size: 100%;
    background-position: center;
    animation: imgsiio 15s infinite;
    animation-direction: alternate;
}
@keyframes imgsiio{
    0%, 30% {
        
        background-image: url(../IMAGESCERO/SIIO\ ANIMATION1\.png);
        opacity: 1;
        
    }
    31%, 34% {
        opacity: 0.9;
        
    }
    35%, 65% {
        background-image: url(../IMAGESCERO/SIIO\ ANIMATION2\.png);
        opacity: 1;
        
    }
    66%, 69% {
        opacity: 0.9;
    }
    70%, 100% {
        background-image: url(../IMAGESCERO/SIIO\.png);
        opacity: 1;
        
    }
}

