@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    padding:0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body{
    overflow: hidden; 
}

/*comtent*/
header{   
    width: 100%;
    height: 100vh; 

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;


    animation-name: test;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

    justify-content: center;
    align-self: center;
    display: flex;

    
}

@keyframes test {
    0% {
      background-image: url(https://i.postimg.cc/K896WmGZ/ceroajustado.png);
    }
    20% {
      background-image: url(https://i.postimg.cc/fbmpHDpg/Background-CERO-two.jpg);
    }

    40% {
      background-image: url(https://i.postimg.cc/0rR15n6c/Bestia.jpg);
    }
    60% {
      background-image: url(https://i.postimg.cc/xCZShn9r/SFDI.jpg);
    }

    80% {
      background-image: url(https://i.postimg.cc/15wfGYKR/campo.jpg);
    }
    100% {
      background-image: url(https://i.postimg.cc/XJWhmt0N/Background-CERO-one.jpg);
    }
  }
  /*--===== GLOBAL =====--*/
  
.text-animation{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.sometext1 {
    mix-blend-mode: multiply;
}
.h1v{
    font-size: 80px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0),
		0 0 0.2em rgb(0, 0, 0)
    
}
.h1v:before {
	content: '';
    animation: changingTxt;

    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
}

@keyframes changingTxt{
	0% {
        content: 'COMANDO ESPECIAL DE REACCIÓN Y OPERACIONES';

        
	}
	20% {
        content: 'COMANDO ESPECIAL DE REACCIÓN Y OPERACIONES';

	}
	40% {
        content: 'CERO México';

	}
	60% {
        content: 'CERO México';

	}
	80% {
        content: 'PROTECCIÓN EJECUTIVA';
	}
	90% {
        content: 'PROTECCIÓN EJECUTIVA';

    }
    100% {
        content: 'COMANDO ESPECIAL DE REACCIÓN Y OPERACIONES';
	}
}





@media (max-width:800px){

  header{   
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
}
.h1v:before {
	content: '';
    animation: none;

}

}
    
    


