@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    padding:0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body{
    overflow: hidden; 
}

/*comtent*/
header{   
    width: 100%;
    height: 100vh;  
    position: relative;  

    display: flex;
    align-items: center;
    justify-content: center;
}

  /*--===== GLOBAL =====--*/
    /*--===== VIDEO and Animation =====--*/
  video{
    width: 100%;
    position: absolute;
  }
.text-animation{
    width: 90%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    z-index: 100;
}
.animation_text {
  display:inline-block;
  width: auto;
  overflow:hidden;

  font-weight:300;
  font-size:3rem;
}

.animation_text:first-of-type {
  animation: showup 15s infinite;
}

.animation_text:last-of-type {
  width:0px;
  animation: reveal 15s infinite;
}

.animation_text:last-of-type .span {
  margin-left:-355px;
  animation: slidein 15s infinite;
  font-size: 2.3rem;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

/*--===== VIDEO and Animation =====--*/
@media (max-width:800px){
  .text-animation{
    align-items: flex-end;
    justify-content: space-between;
}
  .text-animation{
    width: 98%;
}
  .animation_text {
    font-size:.9rem;
  }
  
  .animation_text:last-of-type .span {
    margin-left:500px;
    font-size: 1rem;
  }
  @keyframes slidein {
    0% { margin-left:-1500px; }
    20% { margin-left:-1500px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:88px;}
    80% {opacity:1;}
    100% {opacity:0;width:90px;}
}
}
    
    


