
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #cccccc 20%, #838383 60%,  #000000 100%);
    font-family:consolas;
    }
    a{
        color: rgb(255, 255, 255);
    }
.btn-neon1{
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    }
   
    .btn-neon1 span{
     position: absolute;
     display: block;
            }
     #span1{
     top: 0;
     left: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(90deg, transparent,#fbff00);
     }
     .btn-neon1:hover #span1{
     left: 100%;
     transition: 1s;
     }
     #span3{
     bottom: 0;
     right: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(270deg, transparent, #fbff00);
     }
     .btn-neon1:hover #span3{
      right: 100%;
      transition: 1s;
      
      }
      #span2{
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent,#000000);
      }
      .btn-neon1:hover #span2{
      top: 100%;
      transition: 1s;
      
      }
      #span4{
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent,#000000);
      }
      .btn-neon1:hover #span4{
      bottom: 100%;
      transition: 1s;
      }
________________________________
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:consolas;
    }
    
    .container-all{
        max-width: 10000px;
        margin: auto;
        margin-top: 50px;
        margin-left: 250px;
    
    }
    
    .container-box{
        display: flex;
        flex-wrap: nowrap;
       
    }
    
    .box{
        width: 200px;
        height: 50px;
        padding: 20px;
        margin: 0px;
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(2, 51, 0));
        text-align: left;
        position: relative;
        overflow: hidden;
       transition: all 300ms;
       
       
    
      
    }
    
    .box:hover{
        transform: translate(5px, -5px);
        box-shadow: -10px 10px 20px 10px rgba(255, 217, 1, 0.5);
        color: rgb(255, 255, 255);
        
    
    }
    
    .box h4,
    .box p{
        position: relative;
         z-index: 1;
    }
    
    .box h4,
    .box p{
        margin-top: -25px;
        transition: all 200ms;
    
    }
    
    .box h4{
        font-size: 30px;
        transform: translateY(30px);
        color: rgb(252, 252, 252);
    }
    .box:hover h4{
        transform: translateY(0);
        color: rgb(0, 0, 0);
    }
    
    .box p{
        font-size: 14px;
        transform: translateY(100px);
        opacity: 0;
    }
    .box:hover p{
        transform: translateY(0);
        opacity: 1;
    }
    
    
    .box .background-hover{
        width: 100px;
        height: 1000px;   
        position: absolute;
        top: 250px;
        left: -170px;
        border-radius: 100%;
        transition: 300ms;
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(100, 100, 100));
    }
    
    .box:hover .background-hover{
        width: 400px;
        height: 400px;
        top: -70px;
        left: -70px;
    }
    
    /*cambiar color de las diferentes cajas*/
    
    /*box1*/
    .box1 .background-hover{
        background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(100, 100, 100));
    
    }
    
    /*box2*/
    .box2 .background-hover{
        background: linear-gradient(to bottom, rgb(0, 132, 255), rgb(255, 254, 255));
    
    }
    
    /*box3*/
    .box3 .background-hover{
        background: linear-gradient(to bottom, rgb(255, 230, 0), rgb(250, 3, 3));
    
    }
    
    /*box4*/
    .box4 .background-hover{
        background: linear-gradient(to bottom, rgb(255, 0, 212), rgb(90, 1, 255));
    
    }
    
    /*box5*/
    .box5 .background-hover{
        background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 0, 0));
    
    }
    
    /*box6*/
    .box6 .background-hover{
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 204, 255));
    
    }
/*responsive*/


@media( max-width: 1000px){
    .container-all{
        max-width: 10000px;
        margin: auto;
        margin-top: 50px;
        margin-left: 20px;
    
    }
    .box{
        width: 115px;
        height: 50px;
        padding: 20px;
        margin: 0px;
        background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(2, 75, 0));
        text-align: left;
        position: relative;
        overflow: hidden;
       transition: all 300ms;
       margin-left: 5px;
       
       
    
      
    }
    
}


