/*Proyectos*/
tr.tr-p1:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p2:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p3:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p4:hover td{
	background-color: #000000;
	color: rgb(53, 53, 53);
}
tr.tr-p5:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p6:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p7:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p8:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p9:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p10:hover td{
	background-color: #000000;
	color: rgb(53, 53, 53);
}
tr.tr-p11:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p12:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p13:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p14:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p15:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p16:hover td{
	background-color: #000000;
	color: rgb(53, 53, 53);
}
tr.tr-p17:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p18:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p19:hover td{
	background-color: #04035e;
	color: rgb(53, 53, 53);
}
tr.tr-p20:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p21:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p22:hover td{
	background-color: #ff0000;
	color: rgb(53, 53, 53);
}
tr.tr-p23:hover td{
	background-color: #000000;
	color: rgb(53, 53, 53);
}
tr.tr-p24:hover td{
	background-color: #000000;
	color: rgb(53, 53, 53);
}
