section {
    width: 100%;
    height: 100vh;

}

.division {
    width: 100%;
    height: 100px;

    margin: 20px auto;

    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.div_text {
    color: var(--white);
    font-size: 3rem;

    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}
.div_text::before {
    content: '';

    width: 150px;
    height: 3px;

    background: linear-gradient(90deg, green 30%, white 30%, white 70%, red 70%);
    border-radius: 50px;

    position: absolute;
    bottom: 0px;
}


.home {
    background-image: url(../img/Home/Background\ CERO\ two.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


/*==================== NOSOTROS ====================*/


/*==================== CURSOS ====================*/
.description{
    height: auto;
    min-height: 40vh;
    padding: 40px 10px;

    background: #001d29;

    position: relative;
   justify-content: center;
   align-items: center;
   display: flex;

   overflow: hidden;
}

.description-text{
    width: auto;
    max-width: 500px;
    height: auto;

    padding: 40px;
    color: white;
    font-weight: bold;
   
  
    background: #001d29d5;
    box-shadow:  5px 5px 10px #000c10,
                 -5px -5px 10px #002e42;
                 -webkit-backdrop-filter: blur(5px);
                 backdrop-filter: blur(5px);

    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 5;
}
.description-text p{
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;

    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.description-text p::before{
    content: '';
    width: 50px;
    height: 3px;
    border-radius: 50px;
    background: white;   
    position: absolute; 
    bottom: -5px;
}

.img-nosotros, 
.img-cursos{
    width: 400px;
    height: 300px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
}
.img-nosotros{
    background-image: url(../img/Home/Bestia.jpg);
    margin-left: 700px;
    
}
.img-cursos{
    background-image: url(../img/Home/Nosotros.jpg);
    margin-right: 700px;
}



/* ==================== SERVICIOS ==================== */
.servicios{
    height: 60vh;

    justify-content: center;
    align-items: center;
    display: flex;
}
.max{
    max-width: 70%;
}


 .carousel .card{
     width: 100%;
    height: 500px;

    overflow: hidden;

}

 .carousel .card .box{
     width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    display: flex;
}

.services-imgone,
.services-imgtwo,
.services-imgthree,
.services-imgfour,
.services-imgfive{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.services-imgone{
    background-image: url(../img/Home/agent.jpeg);
}

.services-imgtwo{
    background-image: url(../img/Home/Bestia.jpg);
}
.services-imgthree{
    background-image: url(../img/Home/instalaciones.png);
}
.services-imgfour{
    background-image: url(../img/Home/Nosotros.jpg);
}
.services-imgfive{
    background-image: url(../img/Home/consultoria.jpeg);
}
 .carousel .card .text{
     width: 90%;
     padding: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.699);

}
.text p{
    font-weight: normal;
    margin: 5px auto;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 5px;
    width: 5px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid white!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: white!important;
}

/* responsive media query start */



/* r-------------------------------------------------------------------------------------------- */
.direccion {
    background-image: url(../img/Home/WipeOut08_15_2021_110831.832000\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



    justify-content: center;
    align-items: center;
    display: flex;
}


.swiper {
    width: 500px;
    height: 600px;
}

.swiper-slide {
    width: 500px;
    height: 500px;

    color: white;
    font-size: 2rem;
    font-weight: bold;
    
    background: rgba(0, 0, 0, 0.5);

    border: 5px double beige;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.swiper-slide img{
    width: 50%;
}











/*--===== RESPONSIVE =====--*/
@media (max-width:800px){

    .home {
        background-image: url(../img/Home/CERO.jpg);
        background-repeat: no-repeat;
        background-position: -155px 150px;
        background-size: 170%;

        
    }
.capa{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 40%, black 50%);
}



.img-nosotros{
    background-image: url(../img/Home/Bestia.jpg);
    margin-left: 0px;
    
}
.img-cursos{
    background-image: url(../img/Home/Nosotros.jpg);
    margin-right: 0px;
}


.servicios{
    margin: 90px auto;
}
.max{
    max-width: 90%;
}



    .swiper {
        width: 90%;
        height: 60vh;
    }
    
    .swiper-slide {

        font-size: 1rem;
    }
    
    .swiper-slide img{
        width: 50%;
    }
    
}
    